# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xcscmblueprint
*.xccheckout
*.xcworkspace

# Swift Package Manager
/.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# macOS
.DS_Store

# Editor & temp files
*.swp
*~
*.tmp

# User-specific
*.user
*.orig
